---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Projects from "../components/Projects.astro"
import Posts from "../components/Posts.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"

import "@fontsource/geist-sans/400.css"
import "@fontsource/geist-sans/500.css"
import "@fontsource/geist-sans/600.css"
import "@fontsource/geist-sans/700.css"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="antialiased">
    <main class="my-16 flex flex-col items-center gap-16 md:my-32">
      <div class="max-w-2xl px-4">
        <Header />
      </div>

      <div class="max-w-3xl px-0 md:px-4">
        <Projects />
      </div>

      <div class="max-w-2xl px-4">
        <Posts />
      </div>

      <script>
        import { createIcons, ExternalLink, ArrowRight, Home } from "lucide"

        createIcons({
          icons: {
            ExternalLink,
            ArrowRight,
            Home,
          },
        })
      </script>
    </main>
  </body>
</html>
