---
import SocialLink from "./SocialLink.astro"
---

<ul class="mt-1 flex flex-wrap items-start gap-1.5">
  <li>
    <SocialLink
      href="https://www.linkedin.com/in/armand-sall%C3%A9-9550a613a/"
      title="Linkedin"
      username="Armand Sallé"
      logoUrl="https://static.licdn.com/aero-v1/sc/h/akt4ae504epesldzj74dzred8"
    />
  </li>

  <li>
    <SocialLink
      href="https://twitter.com/ArmandSalle"
      title="Twitter"
      username="@ArmandSalle"
      logoUrl="https://abs.twimg.com/favicons/twitter.3.ico"
    />
  </li>

  <li>
    <SocialLink
      href="https://github.com/armandsalle"
      title="Github"
      username="@armandsalle"
      logoUrl="https://github.githubassets.com/favicons/favicon.svg"
    />
  </li>
</ul>
