---
import SocialLink from "./SocialLink.astro"
---

<ul class="mt-1 flex flex-wrap items-start gap-1.5">
  <li>
    <SocialLink
      href="https://www.linkedin.com/in/armand-sall%C3%A9-9550a613a/"
      title="Linkedin"
      username="Armand Sallé"
      logoUrl="https://static.licdn.com/aero-v1/sc/h/akt4ae504epesldzj74dzred8"
    />
  </li>

  <li>
    <SocialLink
      href="https://bsky.app/profile/armand-salle.bsky.social"
      title="Bluesky"
      username="armand-salle"
      logoUrl="https://web-cdn.bsky.app/static/favicon-32x32.png"
    />
  </li>

  <li>
    <SocialLink
      href="https://github.com/armandsalle"
      title="Github"
      username="@armandsalle"
      logoUrl="https://github.githubassets.com/favicons/favicon.svg"
    />
  </li>
</ul>
