---
import type { CollectionEntry } from "astro:content"
import BaseHead from "../components/BaseHead.astro"

type Props = CollectionEntry<"post">["data"]

const { title, description, pubDate } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="antialiased">
    <main class="my-16">
      <article
        class="prose mx-auto max-w-2xl px-4 prose-headings:tracking-tight prose-h1:text-4xl prose-p:leading-7 prose-p:text-slate-800 prose-a:text-slate-700 prose-li:text-slate-700"
      >
        <div class="space-y-6">
          <a
            href="/"
            class="inline-flex items-center gap-2 text-slate-600 no-underline"
            ><i data-lucide="arrow-left" class="size-4"></i>Get back to home</a
          >
          <div
            class="mt-[2px] flex-shrink-0 text-sm font-medium text-slate-400"
          >
            {pubDate}
          </div>
        </div>
        <slot />
      </article>
    </main>
  </body>
</html>
